.urbaclic-data {

  &>div>table{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    th {
      font-weight: bold;
    }
    th,td {
      padding: 5px;
    text-align: center;
    border: 1px solid #ddd;
   }
 }

 p.latlng {
   text-align: center;
   font-size: 0.8em;
 }

 div h4 {
  padding: 5px;
  text-transform: uppercase;
  margin:8px 0 0 0;

}

ul {
  list-style: none;
  margin: 0;
}

}