.urbaclic-map {
    min-height: 350px;

    svg {
        min-height: none !important;
        min-width: none !important;
        max-height: none !important;
        max-width: none !important;
    }


    path.parcelle  {
        fill-opacity: 0.2;
        stroke-opacity: 1;
        stroke-width: 1;
    }

    path.ban  {
        fill: none;
        stroke-opacity: 0.5;
        stroke-width: 1;
        stroke: #000;
    }





}