.urbaclic-map {
    min-height: 350px;

    svg {
        min-height: none !important;
        min-width: none !important;
        max-height: none !important;
        max-width: none !important;
    }


    path.parcelle  {
        fill-opacity: 0.2;
        stroke-opacity: 1;
        stroke-width: 1;
        stroke-linecap: butt;
        stroke-linejoin: miter;
    }

    path.adresse  {
        fill: #fff;
        fill-opacity: 0.01;
        stroke-opacity: 0.5;
        stroke-width: 1;
        stroke: #000;
    }

    path.assiette  {
        fill: #f00;
        fill-opacity: 0.001;
        stroke: #000;
        stroke-dasharray: 5, 5;
        stroke-linecap: butt;
        stroke-linejoin: miter;
        stroke-opacity: 1;
        stroke-width: 1;
    }


    path.generateur  {
        stroke-opacity: 1;
        stroke-width: 1;
        fill-opacity:0.25;
        fill : #f00;
        stroke : #f00;
        stroke-linecap: butt;
        stroke-linejoin: miter;
    }


    .leaflet-popup-content {
        h4 {
            text-transform: center;
        }
        table{
            width: 100%;
            border-collapse: collapse;
            border-spacing: 0;
            th {
              font-weight: bold;
          }
          th,td {
              padding: 5px;
              text-align: center;
              border: 1px solid #ddd;
          }
      }
  }

}

