.urbaclic-map {
    min-height: 500px;

    svg {
        min-height: auto !important;
        min-width: auto !important;
        max-height: auto !important;
        max-width: auto !important;
    }

    path.ban {
        fill: none;
        stroke-opacity: 1;
        stroke-width: 2;
    }


    path.parcelle  {
        //fill: none;
        stroke-opacity: 0.8;
        stroke-width: 1;
        fill-opacity:0.5;
    }


    path.parcelles  {
        //fill: none;
        stroke-opacity: 0.8;
        stroke-width: 1;
        fill-opacity:0.25;
        &:hover {
            fill-opacity:0.85;
        }
    }
}