#urbaclic {
    &:after {
        content:"";
        display: block;
        clear:both;
    }

    .urbaclic-map {
        float: left;
        width:75%;
    }

    .urbaclic-data {
        float: left;
        width:25%;
    }
}
